.subtext {
    background: linear-gradient(to bottom right, #00ccff, #66ffcc);
}
.NavBar{
    background-color: #ffffff;
    width: 100%;
    height: 10%;
    margin: 0;
    padding: 0;
    border: 5px solid green;
}
