#site{
    overflow-x: hidden;
}


.NavBar{
    background-color: #b0f2e8;
    width: 101.4%;
    height: 5%;
    margin-left: -.7%;
    margin-top: -.7%;
    list-style-type: none;
}
.NavBar a{
    display: block;
    width: 60px;
}

.Subtext{
    border-left: 10px solid Blue;
    background-color: skyblue;
    margin-left: 15%;
    margin-right: 15%;
}

.bodytext{
    display: flex;
}

.pros{
    width: 45%;
    margin-left: 3%;
    margin-right: 2%;
    border-left: 10px solid green;
    background-color: lightgreen;
}
.cons{
    width: 45%;
    margin-right: 3%;
    margin-left: 2%;
    border-left: 10px solid darkred;
    background-color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
